github "robbiehanson/CocoaAsyncSocket" ~> 7.6.3
github "CocoaLumberjack/CocoaLumberjack" ~> 3.5.2
github "lexrus/MMDB-Swift" "0.5.0"
github "superben2010/Sodium-framework" "v1.0.10.1"
github "behrang/YamlSwift" "3.4.3"
github "superben2010/tun2socks" ~> 0.7.0
github "superben2010/Resolver" ~> 0.2.0
